
<div class="cuisine-bar">
  <h2>Cuisines</h2>
  @if(Model["Cuisines"].Count == 0)
  {
      <h4>There are no cuisines listed</h4>
  }
  else
  {
      foreach(var cuisine in Model["Cuisines"])
      {
          <a href="/cuisines/@cuisine.GetId()">
            <div class="row tile-box-div tile-box-div-hover z-depth-2">
            <h5>@cuisine.GetName()</h5>
            </div>
          </a>
      }
  }
</div>
