@if(Model["Cuisines"].Count == 0)
{
    <h2>There are no cuisines listed</h2>
}
else
{
    foreach(var cuisine in Model["Cuisines"])
    {
        <h2><a href="cuisines/@cuisine.GetId()">@cuisine.GetName()</a></h2>
    }
}
