@if(Model["Cuisines"].Count == 0)
{
    <h5>There are no cuisines listed</h5>
}
else
{
    <h4><u>Cuisines</u></h4>
    foreach(var cuisine in Model["Cuisines"])
    {
        <h5><a href="/cuisines/@cuisine.GetId()">@cuisine.GetName()</a></h5>
    }
}

@if(Model["Restaurants"].Count == 0)
{
    <h5>There are no restaurants listed</h5>
}
else
{
    <h4><u>Restaurants</u></h4>
    foreach(var restaurant in Model["Restaurants"])
    {
        <h5><a href="/restaurants/@restaurant.GetId()">@restaurant.GetName()</a></h5>
    }
}
