@{
    Layout="Shared/_Layout";
}

<div class="row">
  <h2>@Model["Cuisine Object"].GetName()</h2>

  @if(Model["Restaurant List"].Count == 0)
  {
    <h4>There are no restaurants listed under this cuisine</h4>
  }
  else
  {
    <h4>Restaurants with this cuisine:</h4>

      @foreach(var restaurant in Model["Restaurant List"])
      {
          <a href="/restaurants/@restaurant.GetId()"><div class="row tile-box-div tile-box-div-hover z-depth-2"><h5>@restaurant.GetName()</h5></div></a>
      }

  }
</div>


<div class="row edit-cuisine-row">
  <h4>Make edits to this cuisine:</h4>
  <form  action="/cuisines/@Model["Cuisine Object"].GetId()/edit" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="text" name="cuisine_name_edit" value="@Model["Cuisine Object"].GetName()">
    <button class="btn waves-effect waves-light" type="submit" name="button">Submit Change</button>
  </form>

  <form  action="/cuisines/@Model["Cuisine Object"].GetId()/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn waves-effect waves-light" type="submit" name="button">Delete Cuisine</button>
  </form>

</div>
