@{
    Layout="Shared/_Layout.cshtml";
}
@if(Model["Restaurants"].Count == 0)
{
    <h4>There are no restaurants listed</h4>
}
else
{
    foreach(var restaurant in Model["Restaurants"])
    {
        <h4><a href="/restaurants/@restaurant.GetId()">@restaurant.GetName()<a/></h4>
    }
}
