body {
  background-color: #f9f7f7;
  word-break: normal;
  color: #bc2022;
}

a {
  color: #bc2022;
}

h2 {
  font-family: 'Bahiana', cursive;
  color: #bc2022;
}

.body {
  margin: 5%;
}
.title {
  font-family: 'Bahiana', cursive;
  margin: 1%;
  padding: 2%;
}

.title h4 {
  font-family: 'Amatic SC', cursive;
}

.header {
  background-color: #bc2022;
  color: white;
  width: 100vw;
  position: relative;
  top: 0px;
  margin-top: -35px;
  padding-top: 5%;
  padding-left: 5%;
  border-bottom: 2px solid #eff785;
}

.header a {
  color: white;
}

.add-button {
  position: relative;
  right: 5%;
  width: 500px;
}

.add-form {
  display:none;
  float:left;
}

.btn {
  float:left;
  margin-bottom: 5%;
  margin-right: 1%;
  background-color: #eff785;
  color: black;
}

.btn:hover {
  background-color: #fc5d5d;
  color: white;
}

.edit-cuisine-row {
  position: relative;
  bottom: 0px;
}

.tile-box-div {
  padding: 3%;
  width: 100%;
  border-radius: 2px;
}

.tile-box-div-hover:hover {
  background-color: #bc2022;
  color: white;
}

.success {
  display: none;
}

.footer-review {
  float:left;
  max-width: 21%;
  margin: 1%;
}

.about {
  border-top: 1px solid #bc2022;
  margin-bottom: 5%;
}
