body {
  background-color: orange;
  word-break: normal;
}

a {
  color: black;
}

.body {
  margin: 5%;
}

.add-button {
  position: relative;
  right: 5%;
  width: 500px;
}

.add-form {
  display:none;
  float:left;
}

.btn {
  float:left;
  margin-bottom: 5%;
  margin-right: 1%;
}

.edit-cuisine-row {
  position: relative;
  bottom: 0px;
}
