body {
  background-color: #f9f7f7;
  word-break: normal;
}

a {
  color: black;
}

.body {
  margin: 5%;
}
.title{
  margin: 1%;
  padding: 2%;
}
.header {
  background-color: #bc2022;
  color: white;
  width: 100vw;
  position: relative;
  top: 0px;
  margin-top: -35px;
  padding-top: 5%;
  padding-left: 5%;
  border-bottom: 2px solid #a8a8a8;
}

.header a {
  color: white;
}

.add-button {
  position: relative;
  right: 5%;
  width: 500px;
}

.add-form {
  display:none;
  float:left;
}

::-webkit-input-placeholder {
   color: white;
}


.btn {
  float:left;
  margin-bottom: 5%;
  margin-right: 1%;
  background-color: #77f9bb;
  color: black;
}

.edit-cuisine-row {
  position: relative;
  bottom: 0px;
}

.tile-box-div {
  padding: 3%;
  width: 100%;
  border-radius: 2px;
}

.tile-box-div-hover:hover {
  background-color: #bc2022;
  color: white;
}

.success {
  display: none;
}
